.overlay{
    filter: brightness(30%);
}
.carousel-center{
    top: 50%;

transform: translateY(-50%);

}




/* footer style */

footer {
    text-align: center;
    background-color: rgb(43, 39, 39);
    height: 400px;

}

footer>nav {
    align-content: center;
}

footer>nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}


/* mobile device */

@media only screen and (max-width:688px) {
    .middletext h1{
       
        font-size: 25px;

    }
    .middletext p{
        font-size: 10px;


    }

    .photo img{
        width: 900px;
        height: 400px;

    }
    .getbtn{
        width: 80px;
        height: 70px;

    }
    
}
    










