.overlay{
    filter: brightness(30%);
}
.carousel-center{
    top: 50%;

transform: translateY(-50%);

}

.hide {
    display: none;
}


/* footer style */

footer {
    text-align: center;
    background-color: rgb(43, 39, 39);
    height: 400px;

}

footer>nav {
    align-content: center;
}

footer>nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}










